#bookmark {
  display: flex;
  gap: 0.5rem;

  @media screen and (min-width: 500px) {
    padding: 0 1rem;
  }

  span {
    display: none;

    @media screen and (min-width: 500px) {
      display: inline;
    }
  }
}
