button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;

  border: transparent;
  border-radius: 0.5rem;
  background-color: $primary-color-light;
  color: $text-color;
  font-weight: 600;
}

button:hover {
  box-shadow: 2px 2px 0 $secondary-color;
}

button:active {
  background-color: $primary-color;
  box-shadow: none;
}
