header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: $text-color;

  @include tablet {
    padding: 1rem;
  }

  @include desktop {
    padding: 1rem 1.5rem;
  }

  img {
    height: 1.25rem;

    @include tablet {
      height: 1.5rem;
    }

    @include wide-screen {
      height: 2rem;
    }
  }

  button {
    @include tablet {
      display: none;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 1rem;
      list-style: none;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: inherit;
      font-family: $sans-font;
      font-size: 1.25rem;
      padding: 0.75rem;
      min-height: 44px;

      @include wide-screen {
        font-size: 1.75rem;
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 58px;
  right: 0;
  width: 0%;
  height: calc(100svh - 58px);
  background-color: rgba(56, 55, 55, 0.412);
  z-index: 100;
  overflow: hidden;
  transition: ease-in-out 0.4s;

  @include tablet {
    position: static;
    height: auto;
    background-color: transparent;
    width: auto;
    transition: none;
  }
}

.show-overlay {
  width: 100%;
}

.drawer {
  position: absolute;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100%;

  background-color: $background-color;
  padding: 4rem 1rem 0;
  z-index: 1000;

  flex-direction: column;
  gap: 1.5rem;

  transition: ease-in-out 0.5s;

  @include tablet {
    position: static;
    height: auto;
    flex-direction: row;
    width: auto;
    padding: 0;
    transition: none;
  }

  li {
    border-radius: 0.5rem;
    display: flex;
  }

  li:hover {
    background-color: $primary-color-light;
  }

  li:active {
    background-color: $primary-color;
  }
}

.open-drawer {
  right: 0;
}
