.form-field {
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 0.5rem;
  color: $text-color;
  padding: 0.5rem 1rem;
}

.form-field:focus-visible {
  outline: $primary-color auto 1px;
}
