.pill-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.pill-item {
  text-align: center;
  color: $secondary-color;
  border: 1px solid $text-color;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.pill-item:hover {
  border-color: $secondary-color;
}

.rating-pill {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  background-color: rgb(243 219 159);
  color: rgb(204 155 34) !important;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}
