// ---- button ----
button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;

  border: transparent;
  border-radius: 0.5rem;
  background-color: $primary-color-light;
  color: $text-color;
  font-weight: 600;
}

button:hover {
  box-shadow: 2px 2px 0 $secondary-color;

  @include tablet {
    box-shadow: 4px 4px 0 $secondary-color;
  }
}

button:active {
  background-color: $primary-color;
  box-shadow: none;
}
// ---- button ----

// ---- form field ----
label {
  margin: 0.5rem 0 0.25rem;
}

.form-field {
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 0.5rem;
  color: $text-color;
  padding: 0.5rem 1rem;
}

.form-field:focus-visible {
  outline: $primary-color auto 1px;
}
// ---- form field ----

// ---- pill ----
.pill-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.pill-item {
  text-align: center;
  color: $secondary-color;
  border: 1px solid $text-color;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.pill-item:hover {
  border-color: $secondary-color;
}

.rating-pill {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  background-color: rgb(243 219 159);
  color: rgb(204 155 34) !important;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}
// ---- pill ----

// ---- toast ----
#toast {
  position: fixed;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include tablet {
    top: 100px;
  }
}

.toast-success {
  background-color: $secondary-color;
  color: $text-color;
}

.toast-failed {
  background-color: #cc6666;
  color: $primary-color-light;
}
// ---- toast ----

// ---- loading ----
#loading {
  height: 50svh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    gap: 1.5rem;
  }

  img {
    width: 10rem;
  }

  span {
    color: $text-color;
    text-align: center;
  }
}
// ---- loading ----
