<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#473829" />
    <meta name="description" content="Find the best restaurant for you" />

    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="images/logo/eatwell-color.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/logo/icon-192.png" />

    <title>eatwell</title>
  </head>
  <body>
    <header>
      <a href="#content" class="skip-link">Menuju konten</a>
      <header-content></header-content>
    </header>

    <main id="content"></main>

    <footer>
      <img src="images/divider.png" alt="" />
      <footer-content></footer-content>
    </footer>
  </body>
</html>
