<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../images/logo/eatwell-color.png" type="image/x-icon" />
    <title>eatwell</title>
  </head>
  <body>
    <header>
      <header-content></header-content>
    </header>

    <main>
      <section id="carousel">
        <img id="carousel-item" src="../images/heroes/hero-image_1.jpg" alt="gambar hero" />

        <!-- chevron icon -->
        <span class="scroll-down">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"
            />
          </svg>
        </span>

        <!-- image mask -->
        <div></div>
      </section>

      <section id="content">
        <h1>Temukan Restoran</h1>
        <div id="restaurant-container"></div>
      </section>
    </main>

    <footer>
      <p>Copyright &#169; 2024 - eatwell</p>
    </footer>
  </body>
</html>
