<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../images/logo/eatwell-color.png" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>eatwell</title>
  </head>
  <body>
    <!-- navigation -->
    <header>
      <nav>
        <img src="../images/logo/eatwell-logo-transparent.png" alt="logo eatwell" height="16px" />
        <ul>
          <li><a href="index.html">Beranda</a></li>
          <li><a href="#">Favorit</a></li>
          <li><a href="">Tentang Kami</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <!-- hero -->
      <section>
        <!-- upper mask -->
        <div></div>

        <img src="../images/heroes/hero-image_1.jpg" alt="hero image" />

        <!-- lower mask -->
        <div></div>
      </section>

      <!-- content -->
      <section>
        <h1>Temukan Restoran</h1>
        <div></div>
      </section>
    </main>

    <!-- footer -->
    <footer>Copyright &#169; 2024 - eatwell</footer>
  </body>
</html>
