.details-wrapper {
  position: relative;
  padding: 0 2rem;
  color: $text-color;

  @include desktop {
    padding: 3rem;
  }

  h2,
  h3 {
    font-family: $sans-font;
  }
}

.description,
.menu-wrapper,
.review-wrapper,
h1 {
  margin-top: 2rem;
}

.description {
  padding: 1rem;
  border: 1px solid $secondary-color;
}

.menu-container {
  @media screen and (min-width: 500px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .menu-display {
    p {
      margin: 0.5rem 0;
    }

    > div {
      display: flex;
      background-color: $primary-color-light;
      gap: 1rem;
      padding: 1rem;
    }

    img {
      height: 100px;
      margin: auto;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 0.25rem;
      height: 10rem;
      width: 100%;
      overflow-y: scroll;
      padding-left: 1rem;
    }
  }
}

.review-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 0.5rem;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#bookmark {
  position: absolute;
  top: 1rem;
  right: 3rem;
}
