@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");

@import "mixins";
@import "variables";

// component styles
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/restaurant-card.scss";
@import "./components/input-area.scss";
@import "./components/button.scss";
@import "./components/footer.scss";

// pages styles
@import "./pages/home.scss";
@import "./pages/details.scss";

html {
  font-size: 14px;

  @include tablet {
    font-size: 16px;
  }
}

h1,
h2,
h3 {
  font-family: $display-font;
}

p,
div,
span {
  font-family: $sans-font;
}

body {
  background-color: $background-color;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  min-height: 100vh;
  min-height: 100svh;
  max-width: 1200px;
  margin: auto;
}

.skip-link {
  position: absolute;
  top: -130px;
  left: 0;

  padding: 1rem;
  background-color: $text-color;
  text-decoration: none;
  font-family: $sans-font;
  color: $primary-color-light;
  z-index: 1000;
}

.skip-link:focus {
  top: 0;
}

header {
  background-color: $background-color;
  position: sticky;
  top: 0;
  z-index: 100;
}

footer {
  padding: 2rem;

  img {
    width: 100%;

    @media screen and (min-width: 400px) {
      max-width: 25rem;
      margin: auto;
    }
  }

  footer-content {
    @include tablet {
      display: flex;
      gap: 2rem;
      justify-content: space-between;

      @include desktop {
        justify-content: space-around;
      }

      div,
      form {
        order: 2;
      }
    }
  }
}

.empty-wrapper {
  text-align: center;

  @media screen and (min-width: 500px) {
    position: relative;
    left: 50%;
  }

  @include desktop {
    left: 100%;
  }

  img {
    margin: auto;
    width: 10rem;
  }

  p {
    font-size: 1.25rem;
    color: $text-color;
  }
}
