@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");

@import "mixins";
@import "variables";

// component styles
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/restaurant-card.scss";

// pages styles
@import "./pages/home.scss";
@import "./details.scss";

html {
  font-size: 14px;

  @include tablet {
    font-size: 16px;
  }
}

h1,
h2,
h3 {
  font-family: $display-font;
}

p,
div,
span {
  font-family: $sans-font;
}

body {
  background-color: $background-color;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  min-height: 100vh;
  min-height: 100svh;
  max-width: 1200px;
  margin: auto;
}

.skip-link {
  position: absolute;
  top: -130px;
  left: 0;

  padding: 1rem;
  background-color: $text-color;
  text-decoration: none;
  font-family: $sans-font;
  color: $primary-color-light;
  z-index: 1000;
}

.skip-link:focus {
  top: 0;
}

header {
  background-color: $background-color;
  position: sticky;
  top: 0;
  z-index: 100;
}

footer {
  background-color: $text-color;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  color: $primary-color-light;
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;

  @include tablet {
    font-size: 1rem;
  }

  @include desktop-large {
    width: 100svw;
    margin-left: calc(-1 * ((100svw - 1200px) / 2));
  }
}

.empty-wrapper {
  text-align: center;

  @media screen and (min-width: 500px) {
    position: relative;
    left: 50%;
  }

  @include desktop {
    left: 100%;
  }

  img {
    margin: auto;
    width: 10rem;
  }

  p {
    font-size: 1.25rem;
    color: $text-color;
  }
}
