@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");

@import "mixins";
@import "variables";

// component styles
@import "./components/header.scss";
@import "./components/hero.scss";

h1,
h2,
h3 {
  font-family: $display-font;
}

p,
div,
span {
  font-family: $sans-font;
}

body {
  background-color: $background-color;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  min-height: 100vh;
  min-height: 100svh;
  max-width: 1200px;
  margin: auto;
}

.content {
  padding: 1rem;

  h1 {
    font-size: 20px;
    text-align: center;
    color: $primary-color;
  }

  h2 {
    font-family: $sans-font;
    font-size: 16px;
    font-weight: bold;
  }

  .restaurant-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;

    .restaurant-item {
      border-radius: 12px;
      overflow: hidden;
      position: relative;

      .rating {
        position: absolute;
        top: 10%;
        right: 0.75rem;

        background-color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 30px;
        display: flex;
        align-items: center;
        gap: 0.25rem;

        color: goldenrod;
        font-size: 14px;
      }

      .details {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        color: white;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(40, 40, 40, 0.6) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        padding: 0.75rem;

        span {
          display: flex;
          gap: 0.25rem;
          align-items: center;
        }
      }
    }
  }
}

footer {
  background-color: $primary-color-light;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
}
