$text-color: #473829;
$primary-color: #f2dbc2;
$primary-color-light: #f0eada;
$secondary-color: #88bbaf;
$background-color: #f8f5ed;

$display-font: "Aclonica", sans-serif;
$sans-font: "Port Lligat Sans", sans-serif;
